#忽略gitignore文件  
.gitignore  
#忽略后缀名为.o和.a的文件  
*.[oa]  
#DU自制，专杀vs
*.cache
*.pdb
*.pdbx
*.pe
*.exe.config
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.sdf
*.tlog
*.log
*.lastbuildstate
*.obj
*.idb
*.dll
*.suo
*.ilk
*.exe
*.dll.config
*.baml
*.g.*
TemporaryGeneratedFile*.*
*.FileListAbsolute.txt
build*.*
Ccao*.dll
*.lref
*CodeAnalysis*.*
*codeanalysis*.*
*.dll
*.cd
*.dll
*.dll
*.dll
*.dll
Ccao-big-homework/Ccao-big-homework/bin/Debug/ColorPicker.dll